/*header section*/
header {
    background-color: cadetblue;
    width: 100%;
    padding: 50px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);


}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 250px;
    background-color: #9a9595;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

}

nav a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #9a9595;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    background-color: cadetblue;
    padding: 10px;
}

nav a:hover{
    background-color: #640909;
}

/*main section*/
main {
    max-width: 840px;
}

main h1{
    color: cadetblue;
}

main img{
    max-width: 100%;
    height: auto;
    padding: 2px;
    border: 1px solid rgba(10, 126, 189, 0.2);
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
main p {
    padding: 0;
}

/*aside section*/

aside {
    width: 100%;
    max-width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

/*footer section*/

footer{
    margin-top: 10px;
    border-top: 1px solid #000;
    text-align: center;
}