/*header section*/
header {
    background-color: cadetblue;
    width: 100%;
    height: 150px;
    text-align: center;
}


/*main section*/
main {
    max-width: 840px;
}

main img{
    width: 150px;
    height: auto;
}
main p {
    padding: 0;
}

/*aside section*/

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

/*footer section*/

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}